<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postal Rate Calculator</title>
</head>
<body>
    <form method="get" action="/rateResult">
        <input type="text" name="weight" value="">
        <select name="types">
            <option value=" ">Select a mail type</option>
            <option value="Letters (Stamped)">Letters (Stamped)</option>
            <option value="Letters (Metered)">Letters (Metered)</option>
            <option value="Large Envelopes (Flats)">Large Envelopes (Flats)</option>
            <option value="First-Class Package Service—Retail">First-Class Package Service—Retail</option>
            <input type="submit" value="Submit">
        </select>
    </form>
</body>
</html>